<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}

You're logged in already!

{% else %}
<div class="wrapper">
<center><h1 style="color:black; font-size:50px;">ShaREAD</h1></center>

<form action="/login" method="POST">
  <div class="login">
    <div class="login-screen">
      <div class="app-title">
        <h1>Login</h1>
      </div>
      <div class="login-form">
        <div class="control-group">
          <input type="text" class="login-field" value="" placeholder="Username" name="username">
          <label class="login-field-icon fui-user" for="login-name"></label></div>
          <div class="control-group">
            <input type="password" class="login-field" value="" placeholder="Password" name="password">
            <label class="login-field-icon fui-lock" for="login-pass"></label></div>
            <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
        </div>
        </div>
        <div style="margin:10px 0;">
           <small style="color:black">Need an account? <span><a href="#">Sign Up</a></span></small>
        </div>
      </div>
    </form>
</div>
{% endif %}
{% endblock %}
