<link href="https://fonts.googleapis.com/css?family=Dokdo|Pacifico" rel="stylesheet">
{% extends "profilelayout.html" %}

{% block username%}
	{% for ele in pas %}
		<center><h3 style="font-family: 'Pacifico',cursive;"><span>@</span> {{ele["username"]}}</h3></center>
	{% endfor %}
{% endblock %}


{% block content %}
	<div class="recommendations">
		<div class="card">
			<img class="cardimage" src="/static/book(1).png" height="70px" width="70px">
			<div class="infowrapper">
				<ul style="list-style: none;">
					<li>Name</li>
					<li>Genre</li>
					<li>Author</li>
					<li>Owner</li>
				</ul>
			</div>
			<div class="reqbtn">
				Request
			</div>
		</div>
	</div>

{% endblock %}