<link href="https://fonts.googleapis.com/css?family=Dokdo|Pacifico" rel="stylesheet">
{% extends "profilelayout.html" %}

{% block displayname %}
	<center><h3 style="font-family: 'Pacifico',cursive;"><span>@</span> {{mylist[0]}}</h3></center>
{% endblock %}


{% block content %}
	{% for book in mylist[1] %}
		<div class="card" style="font-size: 13px;padding-left: 2px">
			<img class="cardimage" src="/static/book(1).png" height="70px" width="70px">
			<div class="infowrapper">
				<ul>
					<li>{{book["name"]}}</li>
					<li>{{book["genre"]}}</li>
					<li>{{book["author"]}}</li>
					<li>{{book["username"]}}</li>
				</ul>
			</div>
			<div class="reqbtn" style="width: 109%;margin-left:-2px;">
				Request
			</div>
		</div>
	{% endfor %}
{% endblock content %}